/* .mainwrap {
  overflow-x: auto;
  height: 300px;
  width: 50%;
  margin: auto;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  text-align: right;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
thead {
  border-bottom: 1px solid lightgrey !important;
}
thead th {
  position: sticky;
  top: 0;
  background-color: white;
}
a {
  float: right;
} */

/* tr:nth-child(even) {
  background-color: #dddddd;
} */